
.answer-option-loading {
  opacity: 0.8;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.answer-option-loading .lp-sortable-handle:after {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #007cba; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 0.5s linear infinite;
  content: '';
  position: absolute;
    top: calc( ( 100% - 15px )/2 );
}

.answer-option-loading .lp-sortable-handle {
  position: relative !important;
}

.answer-option-loading svg {
  display: none;
}